.app-download{
  margin-top: 100px;
  font-size: max(1.5rem, 2.5vw);
  text-align: center;
  font-weight: 500;
}

.app-download-platforms{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.app-download-platforms img{
  width: max(120px, 12vw);
  max-width: 200px;
  transition: 0.3s;
  cursor: pointer;
}

.app-download-platforms img:hover{
  transform: scale(1.1);
}