.explore-menu{
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.explore-menu h1{
  font-size: 24px;
  font-weight: 500;
  color: #262626;
}

.explore-menu-text{
  max-width: 60%;
  color: #808080;
}

.explore-menu-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  padding: 20px 0px;
  text-align: center;
  margin: 20px 0px;
  overflow-x: scroll;
}

.explore-menu-list::-webkit-scrollbar{
  display: none;
}

.explore-menu-list-item img{
  height: 7.5vw;
  width: 7.5vw;
  min-width: 80px;
  border-radius: 50%;
  transition: 0.16s ease-in-out;
  cursor: pointer;
}

.explore-menu-list-item img:hover{
  transform: scale(1.1);
}

.explore-menu-list-item p{
  font-size: max(1.4vw,16px);
  color: #747474;
  margin-top: 10px;
  cursor: pointer;
}

.explore-menu hr{
  border: none;
  height: 2px;
  background-color: #e2e2e2;
  margin: 10px 0px;
}

.explore-menu-list-item .active{
  border: 4px solid #ce3c3c;
  padding: 2px;
}

@media (max-width: 1050px){
  .explore-menu-text{
    max-width: 100%;
    font-size: 14px;
  }
}