.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.navbar li {
  cursor: pointer;
}

.navbar .logo {
  width: 150px;
  height: 60px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #475b9b;
  font-size: 18px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar button {
  background: transparent;
  font-size: 16px;
  color: #475b9b;
  border: 1px solid rgb(255, 63, 29);
  padding: 10px 30px;
  border-radius: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar button:hover {
  background: #ff3f1d;
  color: white;
}

.navbar .active {
  color: #ff3f1d;
  padding-bottom: 2px;
  border-bottom: 2px solid #ff2600;
}

.navbar-search-icon {
  position: relative;
}

.navbar-search-icon .dot {
  position: absolute;
  top: -8px;
  right: -8px;
  min-width: 10px;
  min-height: 10px;
  background: #ff3f1d;
  border-radius: 50%;
}

.navbar-right img{
  cursor: pointer;
}

@media (max-width: 1050px) {
  .navbar .logo {
    width: 140px;
  }
  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }
  .navbar-right {
    gap: 30px;
  }
  .navbar-right .img {
    width: 22px;
  }
  .navbar-right button {
    padding: 8px 25px;
  }
}

@media (max-width: 900px) {
  .navbar .logo {
    width: 120px;
  }
  .navbar-menu {
    gap: 15px;
    font-size: 16px;
  }
  .navbar-right {
    gap: 20px;
  }
  .navbar-right .img {
    width: 20px;
  }
  .navbar-right button {
    padding: 7px 20px;
    font-size: 15px;
  }
}

@media (max-width: 750px) {
  .navbar-menu {
    display: none;
  }
}
